:root {
  --gray: #23252b;
  --oragenge: #f47521;
  --primaryColor: #c2c1c3;
  --secondaryColor: #141519;
  --tertiaryColor: #a0a0a0;
}
body {
  background-color: #23252b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  margin: 15px 0 15px 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 30px;
}
nav {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  width: 150px;
  height: auto;
}

.header-svg-icon {
  width: 30px;
  height: auto;
  fill: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > img {
  width: 25px;
  height: auto;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow {
  width: 10px;
  height: auto;
}

.user-profile {
  width: 35px;
  height: auto;
  border-radius: 50%;
}

main {
  display: grid;
  place-items: center;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  min-height: 100vh;
  /* width: 1200px; */
}

.anime-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px;
  transition: all 0.3s ease-in-out;
}

.anime-container:hover > .anime-title,
.anime-container:hover .play-icon {
  /* color azul */
  color: #358dec;
  opacity: 1;
  cursor: pointer;
}

.anime-container:hover .cover-img {
  filter: brightness(0.5);
  cursor: pointer;
  transform: scale(1.1);
}

.img-container {
  width: 150px;
  height: 220px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  object-fit: contain;
  margin: 0;
  position: relative;
}

.cover-img {
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.play-icon {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 60px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.anime-title {
  font-size: 13px;
  margin: 10px 0;
  text-align: center;
  word-wrap: break-word;
  width: auto;
  max-width: 20ch;
}
